@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  background: linear-gradient(
    122deg,
    rgba(32, 37, 50, 1) 25%,
    rgba(44, 52, 77, 1) 81%
  );
}

.page1 {
  width: 100vw;
  min-height: 100vh;
  display: flex;
}
.entire-menu {
  display: none;
}


@media (max-width: 768px) {
  .page1, .page2 {
    flex-direction: column;
  }

  .page1-left h1 {
    font-size: 28px;
  }
 

  .page1-left p {
    font-size: 16px;
  }

  .buttons button {
    margin-bottom: 10px;
  }

  .skills-container {
    flex-direction: column;
  }

  .skill-card {
    width: 100%;
    max-width: 300px;
  }
}


.page1-left {
  width: 50%;
  height: 100vh;
  /* background-color: aquamarine; */
  padding: 250px 50px 0 50px;
  line-height: 100px;
  display: flex;
  flex-direction: column;
}
.page1-left h1 {
  color: white;
  font-size: 60px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  text-wrap: balance;
}

.page1-left p {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

h1 span {
  font-size: 90px;
}

.page1-left h1 span {
  background: #534ecf;
  background: linear-gradient(to right, #534ecf 0%, #cf1478 56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page1-right {
  width: 50%;
  height: 100vh;
  /* background-color: cornsilk; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  width: 100vw;
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  color: white;
  font-family: "Rubik", sans-serif;
}
.nav h1 {
  font-weight: 500;
}

.nav .ham {
  display: none;
}
.nav-part2 {
  display: flex;
  gap: 50px;
}

.nav-part2 a {
  font-weight: 400;
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  margin-top: 40px;

  height: 80px;
  padding-left: 10px;
  width: 32%;
}
button {
  padding: 10px 9px;
  font-size: 18px;
  border-radius: 16px;
  cursor: pointer;
  background-color: #6451de;
  font-weight: 600;
  color: white;
  border: none;
  height: 49px;
  transition-duration: 150ms;
}

button:hover {
  scale: 1.1;
  border: 1px solid white;
}

@media (200px<width<550px) {
  .page1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
  }
  .page1-right {
    width: 100%;
    height: 50%;
  }

  .page1-left {
    height: 50%;
    padding: 30px 10px 0 25px;
    width: 100%;
    line-height: 25px;
  }
  .page1-right img {
    width: 90%;
  }

  .page1-left h1 {
    margin-top: 5px;
    line-height: 40px;
    font-size: 30px;

    width: 100%;
  }
  .page1-left h1 span {
    font-size: 45px;
  }

  .nav {
    padding: 15px 20px 10px 25px;
  }
  .nav-part2 a{
    display: none;
  }

  .nav .menu {
    display: block;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
  }

  .page1-left p {
    margin-top: 20px;
    /* background-color: bisque; */
    line-height: 40px;
    font-size: 20px;
  }

  .buttons {
    margin-top: 0;
    width: 90%;
    /* background-color: blueviolet; */
  }

  .hamburger {
    position: absolute;
    z-index: 10;
    /* background-color: rgb(101, 112, 50); */
    width: 90%;
    height: 575px;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding-left: 10px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .hamburger a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2.25em;
    font-family: "Rubik", sans-serif;
    letter-spacing: 1px;
  }
  .entire-menu {
    display: block;
  }

  .hamburger i {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 11;
    font-size: 30px;
    font-weight: 600;
  }

 
  .page2 h2 {
    font-size: 28px;
  }

  .skill-card {
    width: 60%;
    max-width: none;
  }

  .skill-card h3 {
    font-size: 40px;
  }

  .skill-card p {
    font-size: 14px;
    text-wrap: pretty;
    font-weight: 500;
    
  }
}

/* Page 2 begins Here  */

/* Page 2 begins Here  */
.page2 {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    122deg,
    rgba(32, 37, 50, 1) 25%,
    rgba(44, 52, 77, 1) 81%
  );
  display: flex;
  /* justify-content: space-around; */
  
  align-items: center;
  padding: 50px 0 100px 0;
  flex-direction: column;
  text-align: center;
  gap:5rem;
}

.page2 h2 {
  font-size: 40px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  color: white;
  font-family: "Rubik", sans-serif;

}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 15px;
}

.skill-card {
  background: rgba(255, 255, 255, 0.224);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7px );
  -webkit-backdrop-filter: blur( 7px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
  color: white;
}

.skill-card img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.skill-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Rubik", sans-serif;

}

.skill-card p {
  font-size: 14px;
  font-family: "Rubik", sans-serif;

}

.skill-card:hover {
  transform: translateY(-10px);
}

@media (max-width: 768px) {
  .page2 {
    flex-direction: column;
  }

  .skills-container {
    flex-direction: column;
  }

  .skill-card {
    width: 100%;
    max-width: 300px;
  }
}



